<div id="mw-wrapper">
    <div class="mw-body" "id"="content" "role"="main">
        {{{html-notices}}}
        {{{html-indicators}}}
        <h1 class="firstHeading" lang="{{pagelanguage}}">{{{html-pagetitle}}}</h1>
        <div id="siteSub">{{{html-tagline}}}</div>
        <div class="mw-body-content">
            <div id="contentSub">
                {{{html-pagesubtitle}}}
                <p>{{{html-undelete}}}</p>
            </div>
            {{{html-bodycontent}}}
            {{{html-clear}}}
            <div class="printfooter">{{{html-printfooter}}}</div>
            {{{html-categorylinks}}}
            {{{html-dataaftercontent}}}
        </div>
        <div id="mw-navigation">
            <h2>{{{html-navigationheading}}}</h2>
            {{{html-logo}}}
            {{{html-search}}}
            <div id="user-tools">{{{html-usertools}}}</div>
            <div id="page-tools">{{{html-pagetools}}}</div>
            <div id="site-navigation">{{{html-sitenavigation}}}</div>
        </div>
        {{{html-footer}}}
    </div>
</div>
